.logo {
  display: block;
  margin: auto;
  height: 70px;
  width: 70px;
}

.container {
  max-width: 955px;
  border: 4px solid black;
  margin: auto;
  height: 60vh;
  padding: 33px;
  overflow-y: auto;
  margin-bottom: 23px ;
}

.message {
  background-color: grey;
  width: 24%;
  padding: 10px;
  margin: 17px 12px;
  border: 2px solid black;
  border-radius: 10px;
}
.left {
  float: left;
  clear: both;
}
.right {
  float: right;
  clear: both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;

}

#messageInp{
    width: 91%;
    border: 2px solid black;
    border-radius: 6px;
    height: 35px;

}

.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 35px;

}

body{
    height: 100vh;
    background-image: linear-gradient(rgb(67, 51, 212),rgb(255,255,255));

}
